@-webkit-keyframes load {
  0% {
    width: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    width: 90%;
    opacity: 0;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    width: 90%;
    opacity: 0;
  }
}

@-webkit-keyframes displayed {
  100% {
    opacity: 1;
  }
}

@keyframes displayed {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes invisible {
  99% {
    opacity: 1;
  }
  100% {
    margin-top: 10px;
    opacity: 0;
  }
}

@keyframes invisible {
  99% {
    opacity: 1;
  }
  100% {
    margin-top: 10px;
    opacity: 0;
  }
}

@-webkit-keyframes btn {
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ec87dd), to(#a16be0));
    background: linear-gradient(#ec87dd, #a16be0);
    -webkit-box-shadow: 2px 2px 5px 2px #8e8989;
            box-shadow: 2px 2px 5px 2px #8e8989;
  }
}

@keyframes btn {
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ec87dd), to(#a16be0));
    background: linear-gradient(#ec87dd, #a16be0);
    -webkit-box-shadow: 2px 2px 5px 2px #8e8989;
            box-shadow: 2px 2px 5px 2px #8e8989;
  }
}

@-webkit-keyframes lds-ellipsis {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-ellipsis {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    margin-top: -300px;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: -300px;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes check-appear {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: 92%;
  }
}

@keyframes check-appear {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: 92%;
  }
}

@-webkit-keyframes move-price {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 17%;
  }
}

@keyframes move-price {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 17%;
  }
}

@-webkit-keyframes check-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@keyframes check-rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

h1 {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
}

h2 {
  font-size: 16px;
  font-weight: 100;
  color: #2c2c2c;
  margin: 25px 6% 20px;
}

h2.brand {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
  margin: 30px 6% 0px;
}

h2.footer {
  font-size: 27px;
  font-weight: 500;
  color: black;
  margin: 5px;
  font-family: "Shrikhand";
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

h2.plat-type__title {
  position: relative;
}

h2.plat-type__title::after {
  content: "";
  position: absolute;
  width: 40px;
  display: block;
  height: 3px;
  background-color: #99e2d0;
  bottom: -5px;
}

h2.index {
  font-size: 24px;
  font-weight: 900;
  color: black;
  margin: 40px 25px 20px;
}

h2.index.index-section {
  margin: 20px 20px;
  padding-top: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 15px 0px 0px;
}

h3.index {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 0px 10px 5px;
}

html {
  font-family: roboto;
}

footer {
  font-size: 15px;
  font-weight: 200;
  color: white;
  margin: 5px;
  color: white;
}

.plat-desc {
  font-weight: bold;
}

h4 {
  font-size: 15px;
  font-weight: 300;
  color: #2c2c2c;
  margin: 2px -50px 10px 0px;
}

.plat-box h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 85%;
}

a {
  text-decoration: none;
  color: inherit;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn:hover {
  -webkit-animation: btn 1s forwards;
          animation: btn 1s forwards;
}

.btn {
  border-radius: 30px 30px 30px 30px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e971d7), to(#9356dc));
  background: linear-gradient(#e971d7, #9356dc);
  border-style: hidden;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0px 0px 50px;
  -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
          box-shadow: 2px 2px 5px 2px #dddddd;
}

.btn--order {
  display: block;
  margin: 40px auto 70px;
  padding: 15px 50px;
}

.fas.back {
  position: absolute;
  color: #2c2c2c;
  margin-right: 90%;
  padding: 17px;
}

.fas.mapmarker {
  color: #2c2c2c;
  margin-right: 15px;
}

.fas.fa-check {
  background-color: white;
  margin: 35%;
  border-radius: 50%;
  color: #99e2d0;
  padding: 3px;
}

.fas-title .fas:not(.hidden) {
  margin-top: -35px;
  position: absolute;
  margin-left: 85%;
  font-size: 24px;
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.fas-title .fas:not(.hidden):hover {
  opacity: 0;
}

.fas-title .fas.hidden {
  margin-top: -36px;
  position: absolute;
  margin-left: 85%;
  opacity: 0;
  font-size: 26px;
  -webkit-text-stroke: 1px white;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background: linear-gradient(210deg, #9356dc, #9356dc, #9356dc, orange, orange) right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 0%;
}

.fas-title .fas.hidden:hover {
  opacity: 1;
  background-size: 100%;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 10px;
  padding: 0px;
}

li {
  padding-top: 10px;
}

.check-appear {
  display: none;
  background-color: #99e2d0;
}

.plat-box:hover .check-appear {
  display: block;
  position: relative;
  height: 100px;
  margin-top: -100px;
  margin-left: 92%;
  width: 100px;
  -webkit-animation: check-appear 0.5s;
          animation: check-appear 0.5s;
}

.plat-box:hover .price {
  margin-right: 17%;
  -webkit-animation: move-price 0.5s;
          animation: move-price 0.5s;
}

.plat-box:hover .fa-check {
  margin: 55% 25px;
  -webkit-animation: check-rotate 0.5s;
          animation: check-rotate 0.5s;
}

.plat-box:hover h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.price {
  margin-right: 0px;
}

.progress {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 50%;
  -webkit-animation: invisible 1.5s 1.5s normal forwards;
          animation: invisible 1.5s 1.5s normal forwards;
}

.progress .progress-value {
  -webkit-animation: load 1.5s normal forwards;
          animation: load 1.5s normal forwards;
  -webkit-box-shadow: 0 10px 40px -10px #fff;
          box-shadow: 0 10px 40px -10px #fff;
  border-radius: 13px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #1826eb), color-stop(40%, #ec0fb5), color-stop(60%, #ec0fb5), color-stop(80%, #5c0eec));
  background: linear-gradient(to right, #1826eb 20%, #ec0fb5 40%, #ec0fb5 60%, #5c0eec 80%);
  height: 30px;
  width: 0;
}

.displayed {
  opacity: 0;
  -webkit-animation: displayed 0s 2.9s normal forwards;
          animation: displayed 0s 2.9s normal forwards;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 117px;
  margin-left: 44%;
  margin-top: 10px;
  opacity: 0;
  -webkit-animation: lds-ellipsis 1.5s  normal forwards;
          animation: lds-ellipsis 1.5s  normal forwards;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fcf;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

.plat-box {
  padding: 0px 30px 0px 10px;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
          box-shadow: 2px 2px 5px 2px #dddddd;
  background-color: white;
  border-radius: 15px;
  -webkit-animation: apparition 2.5s;
          animation: apparition 2.5s;
  overflow: hidden;
}

.main-section {
  margin-top: -30px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
}

.plat-type {
  overflow: hidden;
  min-height: 150px;
}

.plat-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.footer {
  padding: 20px;
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding-top: 10px;
  text-align: center;
}

header:not(.header-index) {
  max-height: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0px 10% 0px 10px;
  margin-right: 10%;
  min-width: 96%;
  height: 250px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
          box-shadow: 2px 2px 5px 2px #dddddd;
  border-radius: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

figure .fas:not(.hidden) {
  margin-top: 0px;
  position: absolute;
  margin-left: 84%;
  font-size: 24px;
  -webkit-text-stroke: 1px black;
  color: transparent;
}

figure .fas:not(.hidden):hover {
  opacity: 0;
}

figure .fas.hidden {
  margin-top: -1px;
  position: absolute;
  margin-left: 84%;
  opacity: 0;
  font-size: 26px;
  -webkit-text-stroke: 1px white;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background: linear-gradient(210deg, #9356dc, #9356dc, #9356dc, orange, orange) right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 0%;
}

figure .fas.hidden:hover {
  opacity: 1;
  background-size: 100%;
}

figcaption {
  min-width: 98%;
}

figcaption div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-section-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.index-section-fonctionnement .fas {
  margin-right: 5%;
  color: #909090;
}

.index-section-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
}

.index-section-restaurants a {
  margin: 25px 20px;
  width: 35%;
}

.preview {
  width: 100%;
  height: 175px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.localisation {
  background-color: #e4e4e4;
  -webkit-box-shadow: inset 0 3px 5px -5px #2c2c2c;
          box-shadow: inset 0 3px 5px -5px #2c2c2c;
  height: 51px;
  text-align: center;
}

.localisation input {
  width: 125px;
  border: 0px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
  background-color: #e4e4e4;
  text-align: center;
}

.discover {
  background-color: #f6f6f6;
  padding: 30px;
  text-align: center;
}

.discover p {
  font-size: 18px;
  font-weight: 100;
  color: black;
  margin: 5px 10px 25px;
}

.index-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0px 30px 0px 10px;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
          box-shadow: 2px 2px 5px 2px #dddddd;
  margin: 20px 5%;
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 15px;
  font-weight: bold;
}

.index-box:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(201, 171, 238, 0.2)), to(rgba(147, 86, 220, 0.2)));
  background: linear-gradient(to right, rgba(201, 171, 238, 0.2), rgba(147, 86, 220, 0.2));
}

figcaption p {
  font-size: 16px;
  font-weight: 300;
  color: black;
  margin: 0px 10px;
}

.index-body section {
  margin: 0px 0px;
}

.index-body footer {
  padding: 20px 40px;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 25px;
}

.pin {
  margin-right: 5%;
  margin-left: -22px;
  background-color: #9356dc;
  padding: 3px 8px;
  border-radius: 50%;
  color: white;
  font-weight: lighter;
}

.flag-new {
  border-radius: 10%;
  padding: 5px 10px;
  margin-left: 73%;
  margin-top: 15px;
  position: absolute;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .index-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .index-section-restaurants a {
    width: 44%;
  }
  .flag-new {
    margin-left: 32%;
  }
  figure .fas:not(.hidden) {
    margin-left: 37%;
  }
  figure .fas.hidden {
    margin-left: 37%;
  }
  .index-fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .index-box {
    margin: 12px 3%;
    width: 25%;
  }
}

@media screen and (min-width: 845px) {
  .plat-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plat-type .plat-box {
    padding: 0px;
    width: 30%;
    height: 176px;
  }
  .plat-type .plat-box h3 {
    height: 50px;
    margin-left: 10px;
  }
  .plat-type .plat-box h4 {
    max-width: 90%;
    white-space: unset;
  }
  .plat-type .plat-box .plat-desc {
    height: 96px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .plat-type .plat-box .check-appear {
    width: 100%;
    margin-left: 0px;
  }
  h2.plat-type__title {
    width: 29px;
  }
  .plat-box:hover .plat-desc {
    height: 56px;
  }
  .plat-box:hover .check-appear {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    -webkit-animation: check-appear 0.5s;
            animation: check-appear 0.5s;
  }
  .plat-box:hover .price {
    margin-right: 20%;
  }
  .plat-box:hover .fa-check {
    margin: 0px;
    margin-left: 46%;
    margin-top: 17px;
    margin-bottom: 20px;
  }
  .plat-box:hover h4 {
    white-space: nowrap;
  }
  @-webkit-keyframes check-appear {
    from {
      margin-top: 100px;
    }
    to {
      margin-top: 0px;
    }
  }
  @keyframes check-appear {
    from {
      margin-top: 100px;
    }
    to {
      margin-top: 0px;
    }
  }
  @-webkit-keyframes move-price {
    from {
      margin-bottom: -30px;
    }
    to {
      margin-bottom: 0px;
    }
  }
  @keyframes move-price {
    from {
      margin-bottom: -30px;
    }
    to {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 1280px) {
  body {
    margin: auto;
    width: 1280px;
  }
  .flag-new {
    margin-left: 425px;
  }
  figure .fas:not(.hidden) {
    margin-left: 470px;
  }
  figure .fas.hidden {
    margin-left: 470px;
  }
  .progress {
    width: 1280px;
  }
  @-webkit-keyframes load {
    0% {
      width: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      width: 1280px;
      opacity: 0;
    }
  }
  @keyframes load {
    0% {
      width: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      width: 1280px;
      opacity: 0;
    }
  }
}
/*# sourceMappingURL=main.css.map */