.progress {
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 50%;
    animation: invisible 1.5s 1.5s normal forwards;
    .progress-value {
    animation: load 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 13px;
    background: linear-gradient(to right, rgb(24, 38, 235) 20%, rgb(236,   15, 181) 40%, rgb(236, 15, 181) 60%, rgb(92, 14, 236) 80%);
    height: 30px;
    width: 0;
  }
  }
  
  
  .displayed{
      opacity: 0;
      animation: displayed 0s 2.9s normal forwards;
  }