@media screen and (min-width: 760px) {
  .index-restaurants {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.index-section-restaurants a {
  width: 44%;
}
.flag-new {
  margin-left: 32%;
}
figure .fas:not(.hidden) {
  margin-left: 37%;
}
figure .fas.hidden {
  margin-left: 37%;
}
.index-fonctionnement {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.index-box{
  margin: 12px 3%;
  width: 25%;
}
}
@media screen and (min-width: 845px){
  .plat-type {
    display: flex;
    flex-direction: row;
    .plat-box {
      padding: 0px;
      width: 30%;
      height: 176px;
      h3 {
        height: 50px;
        margin-left: 10px;
      }
      h4 {
        max-width: 90%;
        white-space: unset;
      }
      .plat-desc {
        height: 96px;
        flex-direction: column;
        margin-left: 10px;
      }
      .check-appear {
        width: 100%;
        margin-left: 0px;
      }
    }
}
h2.plat-type__title {
  width: 29px;
}
.plat-box:hover {
  & .plat-desc{
    height: 56px;
  }
  & .check-appear {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    animation: check-appear 0.5s;
  }
  & .price{
    margin-right: 20%;
  }
  & .fa-check{
    margin: 0px;
      margin-left: 46%;
      margin-top: 17px;
      margin-bottom: 20px;
  }
  & h4 {
    white-space: nowrap;
  }
}
@keyframes check-appear {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 0px;    
  }
}

@keyframes move-price {
  from {
    margin-bottom: -30px;
  }
  to {
    margin-bottom: 0px;
  }
}
}
@media screen and(min-width :1280px){
  
  body{
    margin: auto;
    width: 1280px;
  }
  .flag-new {
    margin-left: 425px;
  }
  figure .fas:not(.hidden) {
    margin-left: 470px;
  }
  figure .fas.hidden {
    margin-left: 470px;
  }
  .progress {
    margin-left: -40px;
  }
  @keyframes load {
    0% { width: 0; }
    99%{opacity: 1;}
    100% { width:1280px; 
    opacity: 0;}
  }
  
}