header {
  padding-top: 10px;
  text-align: center;
  &:not(.header-index) {
    max-height: 320px;
  }
}
img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 46% 23%;
}
