html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 117px;
  margin-left: 44%;
  margin-top: 10px;
  opacity: 0;
  animation: lds-ellipsis 1.5s  normal forwards;
  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }     
}

.plat-box {
  @include box-layout;
  background-color: $box-bg;
  border-radius: $box-radius;
  animation: apparition 2.5s;
  overflow: hidden;
}

.main-section {
  margin-top: -30px;
  background-color: $section-bg;
  border-radius: 50px 50px 0px 0px;
}

.plat-type {
  overflow: hidden;
  min-height: 150px;
}

.plat-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
